/* колір основного тексту SLATE  #434455;
колір вторинного тексту NAVYBLUE  #2E2F42;
Primary Brand IRIS  #4D5AE5;
hover #404BBF
CLOUD #F4F4FD
H1  #FFFFFF
 */

body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px dotted purple;
}

:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --light-mode: #f4f4fd;
  --white-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* INDEX.HTML */

/* HEADER */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

.logo-dark-theme {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.contact {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* ================= MAIN =============*/

.hero {
  background-color: #2e2f42;
}

.hero > h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);

  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

.section-benefits {
  padding-top: 120px;
}

.section-benefits-list {
  display: flex;
  column-gap: 24px;
}

.benefits-subtitle {
  margin-bottom: 8px;

  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.benefits-desc {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.employees-list {
  display: flex;
  column-gap: 24px;
}

.heading-section {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.section-list {
  display: flex;
  column-gap: 24px;
}

.employees-list-img {
  margin-bottom: 32px;
}

.subtitle {
  margin-bottom: 8px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.subtitle-desc {
  margin-bottom: 32px;

  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section-cards {
  background-color: var(--light-mode);
}

.section-cards-item {
  flex-basis: calc((100%-72px) / 4);

  background-color: var(--white-color);
}
/* FOOTER */

.logo-light-theme {
  color: #f4f4fd;
}

.slogan {
  margin-top: 16px;
  width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-mode);
}
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #2e2f42;
}
/* PORTFOLIO.HTML */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);

  background-color: #f4f4fd;
}

.filter-btn:hover,
.filter-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);

  background-color: var(--hover-color);
}
